/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;900&display=swap');

/* Header */

body {
    font-family: "Raleway", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgHeader {
    padding-left: 20px;
    height: 50px;
}

.imgHeader:hover {
    height: 60px;
    transition: 0.2s;
}

.navHeader, a {
    padding: 20px;
    font-size: 20px;
}

.navA {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.navA:hover {
    color: #0050fc;
    font-weight: bold;
    padding-top: 25px;
    border-top: #0050fc 3px solid;
    cursor: pointer;
}

/* Article, header */

.rechercheHead h1 {
    font-size: 30px;
    font-weight: 600;
}

.rechercheHead {
    padding-bottom: 10px ;
    padding-left: 20px;
}

.rechercheBar {
    display: inline-flex;
    max-width: 100%;
    padding-left: 20px;
}

.rechercheIco {
    background-color: lightgray;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    margin-left: 5px;
}

.rechercheInput {
    border-left: none;
    border-right: none;
    border: lightgray 1px solid;
    padding-left: 10px;
    font-weight: 800;
}

.rechercheInput::placeholder {
    color: black;
}

.rechercheButton {
    background-color: #0050fc;
    color: white;
    border: 1px solid #0050fc;
    font-weight: bold;
    text-align: center;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}

/* Articles Filtres */

.rechercheFiltres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
}

.rfTitre {
    padding: 20px;
}

.RFF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 3px lightgray;
    margin: 20px;
    padding-right: 20px;
    border-radius: 33.33px;
    color: #333;
}

.rfF {
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #9ebafc81;
    color: #0050fc;

}

/* Article Résultat recherche */

.hbTitre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Cartes Hébergements */

.magicBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 50rem;
}

.hebergementFirst {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    margin: 1rem;
    border-radius: 25px;
}

.hebergementSecond {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    margin: 1rem;
    border-radius: 25px;
}

.hcard1 {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 29%;
    height: 29%;
    border-radius: 25px;
    border: 3px solid;
}

.hcard2 {
    background-color: chocolate;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 29%;
    height: 29%;
    border-radius: 25px;
    border: 3px solid;
}

.hcard3 {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: 30%;
    border-radius: 25px;
    border: 3px solid;
    margin: 1rem;
    align-self: center;
}

.hTitle1 {
    background-color: white;
    width: 100%;
    background-color: #F2F2F2;
    margin-left: 20px;
}

.hTitle2 {
    background-color: white;
    width: 100%;
    margin-top: 25px;
    margin-left: 20px;
    background-color: #F2F2F2;
    border-radius: 25px 25px;
    width: 60%;
}

/* Activités */

.actBig {
    background-color: white;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30rem;
}

.actOne {
    background-color: white;
    width: 20%;
    height: 100%;
}

.actTwo {
    background-color: white;
    width: 25%;
    height: 100%;
}

.act1 {
    background-color: red;
    height: 93%;
    margin-top: 1rem;
    border-radius: 25px;
    border: 3px solid;
    text-align: center;
}

.act2 {
    background-color: purple;
    height: 45%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
    border: 3px solid;
    text-align: center;
}

/*Footer*/

.thefooter {
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 2rem;
}

.footbox {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 90%;
    margin-left: 20px;
}

.fbListe {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.fbListe  a {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}