/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;900&display=swap');

/* Header */

body {
    font-family: "Raleway", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgHeader {
    padding-left: 20px;
    height: 50px;
}

.imgHeader:hover {
    height: 60px;
    transition: 0.2s;
}

.navHeader, a {
    padding: 20px;
    font-size: 20px;
}

.navA {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.navA:hover {
    color: #0050fc;
    font-weight: bold;
    padding-top: 25px;
    border-top: #0050fc 3px solid;
    cursor: pointer;
}

/* Article, header */

.rechercheHead h1 {
    font-size: 30px;
    font-weight: 600;
}

.rechercheHead {
    padding-bottom: 10px ;
    padding-left: 20px;
}

.rechercheBar {
    display: inline-flex;
    max-width: 100%;
    padding-left: 20px;
}

.rechercheIco {
    background-color: lightgray;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    margin-left: 5px;
}

.rechercheInput {
    border-left: none;
    border-right: none;
    border: lightgray 1px solid;
    padding-left: 10px;
    font-weight: 800;
}

.rechercheInput::placeholder {
    color: black;
}

.rechercheButton {
    background-color: #0050fc;
    color: white;
    border: 1px solid #0050fc;
    font-weight: bold;
    text-align: center;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}

/* Articles Filtres */

.rechercheFiltres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
}

.rfTitre {
    padding: 20px;
}

.RFF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 3px lightgray;
    margin: 20px;
    padding-right: 20px;
    border-radius: 33.33px;
    color: #333;
}

.rfF {
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #9ebafc81;
    color: #0050fc;

}

/* Article Résultat recherche */

.hbTitre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Cartes Hébergements */

.magicBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45rem;
}


.hebergementFirst {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: lightgray;
    border: lightgray solid 1px;
    border-radius: 20px;
    width: 65%;
}

.hebergementHead {
    padding-left: 10px;
}

.hebTitle {
    width: 100%;
}

.hebergementCard {
    margin: 1rem;
    width: 30%;
}

.hebergementCard2 {
    margin: 1rem;
    width: 30%;
}

.hebergementCard3 {
    width: 100%;
    height: 33%;
    margin: 1rem;
}

.hcImg {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.hcFigure {
    background-color: white;
    width: 100%;
    border: 3px solid white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #333 3px 3px 3px;
    height: auto;
}


.hcA {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.hebergementTop {
    display: flex;    
    flex-direction: column;
    width: 35%;
    margin: 1rem;
    background-color: lightgray;
    border: lightgray solid 1px;
    border-radius: 20px;
    height: auto;
}


.hsHead {
    align-content: flex-start;
}

.hsHead2 {
    align-self: flex-end;
}