/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Header */

main {
    font-family: "Raleway", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

footer {
    font-family: "Raleway", sans-serif;
    background-color: #F2F2F2;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
}

strong {
    font-weight: 800;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

/*NavBar #01*/

.imgHeader {
    display: block;
    height: 50px;
}

.imgHeader:hover {
    height: 60px;
    transition: 0.2s;
}

.navHeader, a {
    padding: 20px;
    font-size: 20px;
}

.navMobileHeader {
    display: none;
}

.navHeaderMobile {
    display: none;
}

.navA {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.navA2 {
    color: #0065FC;
    text-decoration: none;
    font-weight: 600;
}

.navA:hover {
    color: #0065FC;
    font-weight: bold;
    padding-top: 1rem;
    border-top: #0065FC 4px solid;
    cursor: pointer;
}

/* Header Mobile */

@media (max-width: 599px)
{
    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    h3 {
        font-size: 25px;
    }

    .imgHeader {
        width: 35%;
        order: 1;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .navHeader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        order: 1;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .navA {
        width: 50%;
        text-align: center;
        padding: 0;
        color: #333;
        font-weight: 500;
        padding-bottom: 0.9rem;
        border-bottom: solid #f2f2f2 3px;
        margin-top: 0.5rem;
    }

    .navA:hover {
        border-bottom: solid #0065FC 3px;
        border-top: none;
        padding: 0;
        color: #0065FC;
    }

    .navA2 {
        width: 39%;
        padding: 0;
        position: relative;
        bottom: 6rem;
        left: 14rem;
        text-align: center;
        font-size: 18px;
    }
}

/*Header Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{
    .header {
        width: 100%;
    }

    .imgHeader {
        margin-left: 1.7rem;
    }
}

/* RechercheBar */

.rechercheHead h1 {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.rechercheHead p {
    margin-top: 0.4rem;
    margin-left: 0.1rem;
    font-size: 18px;
    font-weight: 500;
}

.rechercheHead {
    padding-bottom: 10px ;
    padding-left: 2.8rem;
}

.rechercheBar {
    display: flex;
    width: 100%;
    padding-left: 2.7rem;
    margin-bottom: 0;
}

.rechercheIco {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    margin-left: 5px;
}

.rechercheInput {
    border-left: none;
    border-right: none;
    border: #F2F2F2 1px solid;
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
    padding-right: 1.7rem;
}

.rechercheInput::placeholder {
    color: black;
}

.rechercheButton {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}

.rechercheButton:hover {
    cursor: pointer;
}

.rechercheButton2 {
    display: none;
}

/* RechercheBar Mobile */

@media (max-width: 501px)
{

    #headerh1 {
        font-size: 23px;
        font-weight: 800;
    }

    .rechercheHead {
        padding-left: 20px;
    }

    .rechercheHead p {
        font-size: 16px;
        font-weight: 700;
    }

    .rechercheBar {
        width: 100%;
        padding: 0;
    }

    .rechercheIco {
        font-size: 18px;
        margin-left: 1.2rem;
    }

    .rechercheInput {
        font-size: 18px;
        font-weight: 800;
        margin-right: -2rem;
        padding-right: 0;
    }

}

/* RechercheBar Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{
    .rechercheHead {
        padding-left: 0;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .rechercheHead p {
        text-align: center;
        margin: auto;
    }

    .rechercheBar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
        padding-left: 0;
    }

}

/* Filtres */

.rechercheFiltres {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    margin-left: 1.8rem;
    margin: auto;
    margin-left: 1.7rem;
}

.rechercheFiltresFlex {
    display: flex;
}

.rfTitre {
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
}

.rffA {
    text-decoration: none;
    padding: 0;
    margin: 20px;
    cursor: pointer;
    font-size: 15px;
    border: solid 3px #F2F2F2;
    border-radius: 33px;
    background-color: white;
}

.rffA:hover {
    background-color: #DEEBFF;
    transition: 0.2s;
}

.RFF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    color: #333;
    font-weight: 800;
    font-size: 18px;
}

.RFF:hover {
    color: #0065FC;
    transition: 0.2s;
}

.rfF {
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 1rem;
    width: 1rem;
}

/* Filtres Mobile */

@media (max-width: 501px)
{
    .rechercheFiltres {
        display: block;
        margin-left: 0;
    }

    .rechercheFiltresFlex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .rffA {
        margin-right: 0.4rem;
        margin-left: 15px;
    }


    .rechercheButton {
        display: none;
    }

    .rechercheButton2 {
        display: inline;
        background-color: #0065FC;
        color: white;
        border: 1px solid #0065FC;
        font-weight: bold;
        text-align: center;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        font-size: 18px;
    }

    .rechercheHead {
        margin-right: 2.3rem;
    }

    .rechercheHead h1 {
        width: 100%;
        font-size: 22px;
    }

    .rechercheHead p {
        font-weight: 500;
    }

    .rechercheFiltresFlex {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 1rem;
    }

    .rfTitre {
        margin: 0;
        padding-bottom: 0;
        font-size: 20px;
        font-weight: 800;
    }

    .rfF {
        margin-right: 0.5rem;
    }

    .rffA {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        margin-right: 0.8rem;
        margin-top: 1rem;
        border: #d9d9d9 solid 2px;
        width: 50%;
    }

    #economiqueTAG {
        width: 49%;
    }

    #familleTAG {
        width: 40%;
    }

    .RFF {
        width: auto;
        font-size: 18px;
        font-weight: 800;
        padding-right: 0;
    }
}

/* Filtres Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{
    .rfTitre {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .rechercheFiltresFlex {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .rffA {
        margin: 0.5rem;
    }
}

/* Filtres 1142px to 1026px */

.rfTitre {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Résultat recherche */

.rechercheResultat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-left: 1.7rem;
}

.rechercheResultatMobile {
    display: none;
}

.rechercheI {
    margin-left: 20px;
    margin-right: 20px; 
    border: #eeeeee solid 1px;
    padding: 6px;
    height: 10%;
    width: 10px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: #0065FC;
}

.hbTitre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Résultat recherche Mobile */

@media (max-width: 501px)
{
    .rechercheResultat {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 1.4rem;
        margin-top: 1rem;
        margin-left: 0;
    }

    .rechercheText {
        text-align: center;
    }

    .rechercheI {
        color: #0065FC;
        width: 1rem;
        font-size: 12px;
        padding: 0.2rem;
        border: solid 1px #e0e0e0;
        border-radius: 50%;
        text-align: center;
        align-self: flex-start;
        margin-top: 0.9rem;
        margin-left: 1rem;
    }

    .rechercheText {
        width: 100%;
        margin-left: 0;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }
}

/* Résultat recherche Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{
    .rechercheResultat {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        margin: auto;
    }
}

/* Cartes, Hébergements*/

.magicBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.hebergementFirst {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 62%;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 38rem;
    padding-bottom: 1rem;
}

.hebergementSecond {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 29%;
    border-radius: 25px;
    height: 38rem;
    padding-bottom: 1rem;
}

.hcard1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard1:hover {
    box-shadow: rgba(100, 100, 100, 0.5) 10px 10px 5px;
    transition: 0.3s;
}

.hcard2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard2:hover {
    box-shadow: rgba(100, 100, 100, 0.5) 10px 10px 5px;
    transition: 0.3s;
}

.hcard3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    align-self: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard3:hover {
    box-shadow: rgba(100, 100, 100, 0.5) 10px 10px 5px;
    transition: 0.3s;
}

.aHeb {
    text-decoration: none;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: black;
}

.aHeb2 {
    text-decoration: none;
    width: 85%;
    height: 23%;
    display: flex;
    flex-direction: column;
    padding: 0;
    color: black;
    margin: auto;
}

.hTitle1 {
    background-color: white;
    width: 100%;
    background-color: #F2F2F2;
    margin-left: 20px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 0.8rem;
    height: 3rem;
}

.hTitle2 {
    background-color: white;
    margin-top: 1rem;
    margin-left: 0;
    background-color: #F2F2F2;
    border-radius: 25px 25px;
    width: 60%;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3rem;
}

.stockImg {
    font-size: 1.5rem;
    padding-top: 0.8rem;
}

.imgHeb {
    width: 100%;
    height: 60%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgHeb2 {
    width: 250px;
    height: 60%;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}

.imgHeb3 {
    width: 50%;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}

.textCard {
    height: 40%;
    width: 100%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textCard2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-left: 0.5rem;
}

.texteCarte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.h3Heb {
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -0.9rem;
}

.h3Heb2 {
    text-align: start;
    font-weight: 600;
    font-size: 18px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}

.h3Heb3 {
    text-align: start;
    font-weight: 600;
    font-size: 17px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}

.pHeb {
    text-align: start;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
} 

.pHeb2 {
    text-align: start;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.starsHeb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    color: #0065FC;
    font-size: 15px;
}

.starsHeb2 {
    display: flex;
    color: #0065FC;
    margin-bottom: 5px;
    font-size: 15px;
}

.etgrise {
    color: #F2F2F2;
}

.aHebPlus {
    color: black;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 20px;
    padding: 0;
    margin-left: 0.5rem;
    margin-right: auto;
    font-weight: 700;
    align-self: flex-end;
    margin-bottom: 2rem;
}

.aHebPlusA {
    padding-top: 0;
}

.aHebPlusA:hover {
    cursor: pointer;
    font-weight: 800;
}

.titrePlusImgHebTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
}

.stockImg {
    width: 1rem;
    height: 1rem;
    margin-top: 5px;
}

/* Cartes Hébergements Mobile */

@media (max-width: 501px)

{

    .magicBox {
        flex-direction: column;
        height: auto;
    }

    .hebergementFirst {
        width: 100%;
        height: auto;
        display: block;
        order: 2;
        margin: 0;
        margin-bottom: 1rem;
        border: 0;
        padding: 0;
        border-radius: 0;
        background-color: white;
    }

    .hebergementSecond {
        width: 100%;
        height: 38rem;
        order: 1;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: #f2f2f2;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .aHeb {
        margin: auto;
        margin-bottom: 2rem;
        width: 100%;
        height: 200px;
    }

    .aHeb2 {
        width: auto;
        height: 150px;
        margin: auto;
        margin-bottom: 2rem;
    }

    .hTitle1 {
        background-color: white;
        margin-bottom: 1.4rem;
        font-weight: 800;
        margin-top: 2rem;
        font-size: 22px;
    }

    .hTitle2 {
        background-color: #f2f2f2;
        margin-top: 1.7rem;
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 22px;
    }

    .hcard1 {
        height: 200px;
        width: 90%;
        margin: auto;
    }

    .hcard2 {
        height: 200px;
        width: 90%;
        margin: auto;
    }

    .hcard3 {
        height: 150px;
        width: 21rem;
        border: white solid 4px;
    }

    .textCard {
        margin-left: 0.8rem;
    }

    .titrePlusImgHebTop {
        margin-bottom: 0.7rem;
    }

    .pHeb {
        margin-bottom: 0.3rem;
        margin-top: 0.8rem;
    }

    .textCard2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: 60%;
    }

    .imgHeb2 {
        width: 35%;
    }

    .imgHeb3 {
        width: 130px;
    }

    .stockImg {
        font-size: 20px;
    }

    .aHebPlus {
        margin-left: 1rem;
        margin-bottom: 3rem;
        font-size: 18px;
        font-weight: 800;
    }

    .h3Heb {
        font-size: 18px;
        font-weight: 800;
        margin-top: 0.6rem;
    }

    .h3Heb2 {
        height: 100%;
        width: 70%;
        font-size: 16px;
        font-weight: 800;
        margin: 0;
        margin-left: 0.7rem;
        margin-top: 0.5rem;
    }

    .pHeb2 {
        font-size: 12px;
        margin-top: 0.6rem;
        margin-left: 0.6rem;
        font-size: 14px;
        font-weight: 600;
    }

    .stockImg {
        margin-top: 1.2rem;
    }

    .starsHeb {
        font-size: 70%;
    }

    .starsHeb2 {
        font-size: 12px;
        margin-left: 0.6rem;
        margin-bottom: 0.8rem;
    }

    .etgrise {
        color: #f2f2f2;
    }

}

/* Cartes Hébergements Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{
    .magicBox {
        display: block;
        width: 100%;
        height: auto;
    }

    .hebergementFirst {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 93%;
        margin: auto;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        order: 1;
        border-radius: 25px;
    }

    .hebergementSecond {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 96%;
        margin: auto;
        order: 2;
        background-color: white;
        margin-bottom: 2rem;
    }

    .titrePlusImgHebTop {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: auto;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        margin-bottom: 2rem;
    }

    .hTitle2 {
        background-color: white;
    }

    .h3Heb {
        font-size: 16px;
        width: auto;
    }

    .pHeb {
        font-size: 14px;
    }

}

/* Cartes 1222px to 1025px */

@media (min-width: 1025px) and (max-width: 1222px)
{
    .h3Heb {
        font-size: 13px;
        margin-bottom: 0.1rem;
    }

    .pHeb {
        font-size: 12px;
    }
}

/* Cartes 501px to 676px */

@media (min-width: 502px) and (max-width: 676px)
{
    .h3Heb {
        font-size: 13px;
    }

    .pHeb {
        font-size: 13px;
    }
}

@media (min-width: 1025px) and (max-width: 1324px)
{
    .h3Heb2 {
        font-size: 14px;
    }

    .pHeb2 {
        font-size: 13px;
    }
}

/* Activités */

.actMars {
    margin-left: 20px;
}

.actBigMobile {
    display: none;
}

.actBig {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 97%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    margin: auto;
    margin-top: 1rem;
}

.actOne {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.actTwo {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}

.aAct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 23%;
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1rem;
}

.aAct2 {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.act1 {
    background-color: white;
    width: 100%;
    height: 96%;
    margin-top: 0;
    border-radius: 25px;
    border: 3px solid white;
    text-align: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.act1:hover {
    box-shadow: rgba(100, 100, 100, 0.5) 10px 10px 5px;
    transition: 0.2s;
}

.act2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    border-radius: 25px;
    border: 3px solid white;
    text-align: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.act2:hover {
    box-shadow: rgba(100, 100, 100, 0.5) 10px 10px 5px;
    transition: 0.2s;
}

.imgAct {
    height: 90%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgAct2 {
    height: 180px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.h3Act {
    text-align: start;
    margin-left: 14px;
    margin-top: 7px;
    font-weight: 600;
    color: rgb(29, 29, 29);
}

.h3Act2 {
    text-align: start;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(29, 29, 29);
}

#activites {
    margin-left: 1.1rem;
}

/* Activités Mobile */

@media (max-width: 501px) 
{
    .actBig {
        display: block;
        height: auto;
        width: 100%;
    }

    .aAct {
        margin: auto;
        margin-bottom: 1rem;
        width: 98%;
        height: 200px;
    }

    .actOne {
        width: 100%;
        height: 100%;
    }

    .actTwo {
        width: 98%;
        height: auto;
        display: flex;
        margin: auto;
    }

    .act1 {
        width: 98%;
        height: 200px;
    }

    .act2 {
        width: 98%;
        height: 200px;
    }

    .h3Act {
        width: 80%;
        font-size: 17px;
        margin: 0;
        margin-left: 1rem;
        margin-top: 0.9rem;
        font-weight: 800;
    }

    .h3Act2 {
        width: 80%;
        font-size: 17px;
        margin: 0;
        margin-left: 1rem;
        margin-top: 0.9rem;
        font-weight: 800;
    }

    .imgAct {
        height: 70%;
        width: 100%;
        object-fit: cover;
    }

    .imgAct2 {
        height: 70%;
        width: 100%;
        object-fit: cover;
    }

    .actMars {
        font-size: 15px;
        width: 80%;
        margin-bottom: 1rem;
    }

    #activites {
        font-size: 22px;
        font-weight: 700;
    }

}

/* Activités Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{

    .aAct {
        width: 45%;
        margin-bottom: 1rem;
    }

    .actTwo {
        width: 45%;
    }

    .h3Act {
        font-size: 16px;
        margin-top: 0.3rem;
    }

    #activites {
        font-size: 24px;
        padding-left: 1.8rem;
        padding-bottom: 0.3rem;
    }

}

/* Footer */

footer {
    width: 100%;
}

.footH3 {
    font-weight: 700;
}

.thefooter {
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.footbox {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 90%;
    margin-left: 25px;
}

.fbListe {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.fbListe  a {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

.fbListe  a:hover {
    font-weight: 700;
    transition: 0.2s;
}

/* Footer Mobile */

@media (max-width: 501px)
{
    .thefooter {
        width: 100%;
        height: auto;
    }

    .footbox {
        flex-direction: column;
        width: 100%;
    }

    .fbListe {
        width: 90%;
        margin-bottom: 1rem;
    }

    .fbListe a {
        padding-top: 0.9rem;
        font-size: 16px;
        height: 0.8rem;
        font-weight: 600;
    }

    .footH3 {
        font-size: 17px;
        font-weight: 800;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

/* Footer Tablette */

@media (min-width: 501px) and (max-width: 1025px)
{

    .footbox {
        width: 100%;
    }

    .fbListe {
        margin-right: 0.5rem;
        width: 30%;
        text-align: start;
    }
}