/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;900&display=swap');

/*Header @media */


@media (max-width: 1000px) 

{

    .hebergementFirst {
        background-color: red;
    }

}

/* Header */

body {
    font-family: "Raleway", sans-serif;
}

footer {
    font-family: "Raleway", sans-serif;
    background-color: #F2F2F2;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
}

strong {
    font-weight: 600;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgHeader {
    padding-left: 20px;
    height: 50px;
}

.imgHeader:hover {
    height: 60px;
    transition: 0.2s;
}

.navHeader, a {
    padding: 20px;
    font-size: 20px;
}

.navA {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.navA2 {
    color: #0065FC;
    text-decoration: none;
    font-weight: 600;
}

.navA:hover {
    color: #0065FC;
    font-weight: bold;
    padding-top: 25px;
    border-top: #0065FC 3px solid;
    cursor: pointer;
}

/* Header @media */



/* Article, header */

.rechercheHead h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}

.rechercheHead {
    padding-bottom: 10px ;
    padding-left: 20px;
}

.rechercheBar {
    display: inline-flex;
    max-width: 100%;
    padding-left: 20px;
}

.rechercheIco {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    margin-left: 5px;
}

.rechercheInput {
    border-left: none;
    border-right: none;
    border: #F2F2F2 1px solid;
    padding-left: 10px;
    font-weight: 800;
}

.rechercheInput::placeholder {
    color: black;
}

.rechercheButton {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    font-weight: bold;
    text-align: center;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}

.rechercheButton:hover {
    cursor: pointer;
}

/* Articles Filtres */

.rechercheFiltres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
}

.rfTitre {
    padding: 20px;
    font-weight: 600;
}

.RFF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 3px #F2F2F2;
    margin: 20px;
    padding-right: 20px;
    border-radius: 33.33px;
    color: #333;
}

.rfF {
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;

}

/* Article Résultat recherche */

.rechercheResultat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.rechercheI {
    margin-left: 20px;
    margin-right: 20px;
    border: #333 solid 1px;
    padding: 0.6rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    text-align: center;
    color: #0065FC;
}

.hbTitre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Cartes Hébergements */

.magicBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 46rem;
}

.hebergementFirst {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    margin: 1rem;
    border-radius: 25px;
    height: 45rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hebergementSecond {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    margin: 1rem;
    border-radius: 25px;
    height: 45rem;
}

.hcard1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    align-self: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.aHeb {
    text-decoration: none;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: black;
}

.aHeb2 {
    text-decoration: none;
    width: 85%;
    height: 23%;
    display: flex;
    flex-direction: column;
    padding: 0;
    color: black;
    margin-left: 2.3rem;
}

.hTitle1 {
    background-color: white;
    width: 100%;
    background-color: #F2F2F2;
    margin-left: 20px;
}

.hTitle2 {
    background-color: white;
    width: 100%;
    margin-top: 0px;
    margin-left: 20px;
    background-color: #F2F2F2;
    border-radius: 25px 25px;
    width: 60%;
}

.imgHeb {
    width: 100%;
    height: 60%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgHeb2 {
    width: 250px;
    height: 100%;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}

.textCard {
    height: 40%;
    width: 100%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textCard2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-left: 0.5rem;
}

.texteCarte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3Heb {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    height: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.h3Heb2 {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}

.h3Heb3 {
    text-align: start;
    font-weight: 600;
    font-size: 17px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}

.pHeb {
    text-align: start;
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
} 

.pHeb2 {
    text-align: start;
    width: 100%;
    font-weight: 400;
    margin-top: 0px;
}

.starsHeb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    color: #0065FC;
}

.starsHeb2 {
    display: flex;
    color: #0065FC;
    margin-bottom: 5px;
}

.etgrise {
    color: #F2F2F2;
}

.aHebPlus {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 0;
    margin-left: 1.7rem;
}

.aHebPlus:hover {
    cursor: pointer;
}

/* Activités */

.actMars {
    margin-left: 20px;
}

.actBig {
    background-color: white;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 30rem;
    margin-top: 1rem;
}

.actOne {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.actTwo {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 100%;
}

.aAct {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1rem;
}

.aAct2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1rem;
}

.act1 {
    background-color: white;
    height: 100%;
    margin-top: 0;
    border-radius: 25px;
    border: 3px solid white;
    text-align: center;
    box-shadow: black 2px 2px 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.act2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    border-radius: 25px;
    border: 3px solid white;
    text-align: center;
    box-shadow: black 2px 2px 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.imgAct {
    height: 87%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgAct2 {
    height: 150px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.h3Act {
    text-align: start;
    margin-left: 15px;
    font-weight: 600;
}

/*Footer*/

.thefooter {
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.footbox {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 90%;
    margin-left: 20px;
}

.fbListe {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.fbListe  a {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
