/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;900&display=swap');

/* Header */

main {
    font-family: "Raleway", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
}

footer {
    font-family: "Raleway", sans-serif;
    background-color: #F2F2F2;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
}

strong {
    font-weight: 600;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.imgHeader {
    display: block;
    padding-left: 20px;
    height: 50px;
}

.imgHeader:hover {
    height: 60px;
    transition: 0.2s;
}

.navHeader, a {
    padding: 20px;
    font-size: 20px;
}

.navMobileHeader {
    display: none;
}

.navHeaderMobile {
    display: none;
}

.navA {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.navA2 {
    color: #0065FC;
    text-decoration: none;
    font-weight: 600;
}

.navA:hover {
    color: #0065FC;
    font-weight: bold;
    padding-top: 25px;
    border-top: #0065FC 3px solid;
    cursor: pointer;
}

@media (max-width: 1312px)
{
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    h3 {
        font-size: 25px;
    }

    .imgHeader {
        width: 35%;
        order: 1;
    }

    .navHeader {
        display: none;
    }

    .navMobileHeader {
        display: flex;
        justify-content: flex-end;
        order: 2;
        width: 30%;
        height: 50px;
        padding: 0;
        margin-top: 1.7rem;
        text-decoration: none;
        font-weight: 600;
        color: #0065FC;
    }

    .navHeaderMobile {
        display: flex;
        order: 3;
        width: 100%;
        margin: auto;
    }

    .navAMob {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    .navAMob:hover {
        border-bottom: solid #0065FC 3px;
        color: #0065FC;
    }
}

/* Article, header */

.rechercheHead h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}

.rechercheHead {
    padding-bottom: 10px ;
    padding-left: 20px;
}

.rechercheBar {
    display: inline-flex;
    max-width: 100%;
    padding-left: 20px;
}

.rechercheIco {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    margin-left: 5px;
}

.rechercheInput {
    border-left: none;
    border-right: none;
    border: #F2F2F2 1px solid;
    padding-left: 10px;
    font-weight: 800;
}

.rechercheInput::placeholder {
    color: black;
}

.rechercheButton {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    font-weight: bold;
    text-align: center;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}

.rechercheButton:hover {
    cursor: pointer;
}

.rechercheButton2 {
    display: none;
}

/* Articles Filtres */

.rechercheFiltres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
}

.rechercheFiltresFlex {
    display: flex;
}

.rfTitre {
    padding: 20px;
    font-weight: 600;
}

.rffA {
    text-decoration: none;
    padding: 0;
    margin: 20px;
    cursor: pointer;
    font-size: 15px;
    border: solid 3px #F2F2F2;
    border-radius: 33px;
    background-color: white;
}

.rffA:hover {
    background-color: #DEEBFF;
    transition: 0.2s;
}

.RFF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    color: #333;
}

.RFF:hover {
    color: #0065FC;
    font-weight: 600;
    transition: 0.2s;
}

.rfF {
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 1rem;
    width: 1rem;
}

@media (max-width: 1312px)
{
    .rechercheFiltres {
        display: block;
    }

    .rechercheFiltresFlex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .rffA {
        margin-right: 0.4rem;
        margin-left: 15px;
    }

    .rechercheBar {
        padding: 20px;
    }

    .rechercheButton {
        display: none;
    }

    .rechercheButton2 {
        display: inline;
        background-color: #0065FC;
        color: white;
        border: 1px solid #0065FC;
        font-weight: bold;
        text-align: center;
        border-radius: 0 15px 15px 0;
        padding: 15px;
    }

    .rechercheHead {
        margin-right: 2.3rem;
    }

    .rechercheHead h1 {
        width: 100%;
        font-size: 22px;
    }

    .rechercheHead p {
        font-weight: 500;
    }

    .rechercheFiltresFlex {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .rfTitre {
        margin: 0;
        padding-bottom: 0;
        font-size: 20px;
        font-weight: 600;
    }

    .rfF {
        margin-right: 0.5rem;
    }

    .rffA {
        margin: 0;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

/* Article Résultat recherche */

.rechercheResultat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.rechercheResultatMobile {
    display: none;
}

.rechercheI {
    margin-left: 20px;
    margin-right: 20px;
    border: #333 solid 1px;
    padding: 0.6rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    text-align: center;
    color: #0065FC;
}

.hbTitre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1312px)
{
    .rechercheResultat {
        display: none;
    }

    .rechercheResultatMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .rechercheText {
        text-align: center;
    }

    .rechercheIMobile {
        color: #0065FC;
        width: 1rem;
        padding: 0.1rem;
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        text-align: center;
        align-self: flex-start;
        margin-top: 0.7rem;
        margin-left: 1rem;
    }

    .rechercheTextMobile {
        width: 100%;
        margin-left: 1rem;
    }
}

/* Cartes Hébergements */

.magicBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 46rem;
}

.hebergementFirst {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    margin: 1rem;
    border-radius: 25px;
    height: 45rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hebergementSecond {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    margin: 1rem;
    border-radius: 25px;
    height: 45rem;
}

.hcard1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.hcard3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 3px solid white;
    align-self: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.aHeb {
    text-decoration: none;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: black;
}

.aHeb2 {
    text-decoration: none;
    width: 85%;
    height: 23%;
    display: flex;
    flex-direction: column;
    padding: 0;
    color: black;
    margin-left: 2.3rem;
}

.hTitle1 {
    background-color: white;
    width: 100%;
    background-color: #F2F2F2;
    margin-left: 20px;
    margin-top: 0;
}

.hTitle2 {
    background-color: white;
    width: 100%;
    margin-top: 0px;
    margin-left: 0;
    background-color: #F2F2F2;
    border-radius: 25px 25px;
    width: 60%;
}

.imgHeb {
    width: 100%;
    height: 60%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgHeb2 {
    width: 250px;
    height: 60%;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}

.imgHeb3 {
    width: 100%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}

.textCard {
    height: 40%;
    width: 100%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textCard2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-left: 0.5rem;
}

.texteCarte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.h3Heb {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    height: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.h3Heb2 {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}

.h3Heb3 {
    text-align: start;
    font-weight: 600;
    font-size: 17px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}

.pHeb {
    text-align: start;
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
} 

.pHeb2 {
    text-align: start;
    width: 100%;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

.starsHeb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    color: #0065FC;
}

.starsHeb2 {
    display: flex;
    color: #0065FC;
    margin-bottom: 5px;
}

.etgrise {
    color: #F2F2F2;
}

.aHebPlus {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 0;
    margin-left: 1.7rem;
}

.aHebPlus:hover {
    cursor: pointer;
}

.titrePlusImgHebTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stockImg {
    width: 1rem;
    height: 1rem;
    margin-top: 5px;
}

@media (max-width: 1312px)

{

    .magicBox {
        flex-direction: column;
        height: auto;
    }

    .hebergementFirst {
        width: 100%;
        height: auto;
        display: block;
        order: 2;
        margin: 0;
        border: 0;
        padding: 0;
        border-radius: 0;
        background-color: white;
    }

    .hebergementSecond {
        width: 100%;
        height: 38rem;
        order: 1;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: #f7f7f7;
        margin-left: 2rem;
        padding-left: 3rem;
    }

    .aHeb {
        margin: auto;
        margin-bottom: 2rem;
        width: 100%;
        height: 200px;
    }

    .aHeb2 {
        width: auto;
        height: 150px;
        margin: auto;
        margin-bottom: 2rem;
    }

    .hTitle1 {
        background-color: white;
        margin-bottom: 1.4rem;
        font-weight: 700;
        margin-top: 1rem;
        font-size: 20px;
    }

    .hTitle2 {
        background-color: #f7f7f7;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 20px;
    }

    .hcard1 {
        height: 200px;
        width: 100%;
    }

    .hcard2 {
        height: 200px;
        width: 100%;
    }

    .hcard3 {
        height: 150px;
        width: 90%;
        margin: auto;
    }

    .textCard {
        margin-left: 0.4rem;
    }

    .pHeb {
        margin-bottom: 0.3rem;
    }

    .textCard2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .imgHeb2 {
        width: 35%;
    }

    .imgHeb3 {
        width: 50%;
    }

    .aHebPlus {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }

    .h3Heb2 {
        font-size: 15px;
    }

    .pHeb2 {
        font-size: 12px;
        margin-top: 1.3rem;
    }

    .stockImg {
        margin-top: 1.2rem;
    }

}

/* Activités */

.actMars {
    margin-left: 20px;
}

.actBig {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 30rem;
    margin-top: 1rem;
}

.actOne {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.actTwo {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.aAct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 94%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1rem;
}

.aAct2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1rem;
}

.act1 {
    background-color: white;
    height: 100%;
    margin-top: 0;
    border-radius: 25px;
    border: 3px solid white;
    text-align: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.act2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    border-radius: 25px;
    border: 3px solid white;
    text-align: center;
    box-shadow: rgba(100, 100, 100, 0.1) 10px 10px 5px;
}

.imgAct {
    height: 90%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgAct2 {
    height: 180px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.h3Act {
    text-align: start;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 600;
    color: rgb(29, 29, 29);
}

@media (max-width: 1000px) 
{
    .actBig {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .aAct {
        width: 100%;
        height: 200px;
        margin-bottom: 1rem;
    }



    .actOne {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }

    .actTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }
    
    .aAct2 {
        display: flex;
        width: 100%;
        height: 200px;
    }

    .act1 {
        width: 100%;
        height: 200px;
        margin: auto;
    }

    .act2 {
        width: 100%;
        height: 95%;
        margin: auto;
    }

    .h3Act {
        font-size: 20px;
        margin: 0;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
    }

    .imgAct {
        height: 80%;
    }

    .imgAct2 {
        height: 80%;
    }

}

/*Footer*/

footer {
    width: 100%;
}

.thefooter {
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.footbox {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 90%;
    margin-left: 20px;
}

.fbListe {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.fbListe  a {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}

@media (max-width: 1312px)
{
    .thefooter {
        width: 100%;
        height: auto;
        margin-left: -1rem;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .thefooter a {
        padding-top: 0.3rem;
    }

    .footbox {
        flex-direction: column;
        width: 100%;
    }

    .fbListe {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footH3 {
        font-weight: 650;
    }
}